@model IEnumerable<GCP_CF.Models.Contratos>

@{
    ViewBag.Title = "Reporte de Contratos";
}

@if (TempData["error"] != null)
{
    <script>alert('@TempData["error"]');</script>
}

<script src="~/Scripts/noGeneric/Reportes.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<style>
    thead input {
        width: 100%;
    }
</style>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">

<h2 class="text-left">Reporte de Contratos</h2>
<p class="text-left">Por favor diligencie al menos uno de los siguientes filtros para realizar la búsqueda</p>

<div class="well">
    @using (Html.BeginForm("Contratos", "Reportes", FormMethod.Post, new { id = "filtrosReporteContratosForm" }))
    {
        <div class="row">
            <div class="col-lg-2 col-md-2 text-center">
                <label for="anioContrato" class="control-label" style="margin-top: 5px">Año:</label><br />
                @Html.DropDownList("Anio", null, "Seleccione...", htmlAttributes: new { @class = "form-control", @id = "anioContrato", @name = "anio" })
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <label for="entidades" class="control-label" style="margin-top: 5px">Entidad Contratante:</label><br />
                @Html.DropDownList("IdEntidadContratante", null, "TODAS", htmlAttributes: new { @class = "form-control", @id = "entidades", @name = "idEntidadContratante" })
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <label for="nroContrato" class="control-label" style="margin-top: 5px">No. Contrato:</label><br />
                @Html.Editor("NumeroContrato", new { htmlAttributes = new { @class = "form-control", @id = "nroContrato", @name = "numeroContrato", @value = ViewBag.NumeroContrato } })
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <label for="estados" class="control-label" style="margin-top: 5px">Estado:</label><br />
                @Html.DropDownList("IdEstadoContrato", null, "TODOS", htmlAttributes: new { @class = "form-control", @id = "estados", @name = "idEstadoContrato" })
            </div>
            <div class="col-lg-1 col-md-1">
                <label class="control-label" style="margin-top: 5px">&nbsp;</label><br />
                <button id="btnSearch" type="submit" class="btn btn-default btn-large">Buscar</button>
            </div>
        </div>
    }
</div>

@if (Model != null && Model.Count() > 0)
{
    <h3>Resultados de la consulta</h3>
    <div class="panel">
        <div class="panel-footer">
            <div class="row row-no-gutters">
                <div class="col-md-1 col-sm-1 col-xs-3"><b>Opciones:</b></div>
                <div class="col-md-11 col-sm-11 col-xs-9">
                    <i class="glyphicon glyphicon-export"></i>
                    <a href="javascript:void(0)" onclick="ExportarContratos()" title="Haga clic aquí para exportar este reporte a Excel">Exportar a Excel</a>
                </div>
            </div>
        </div>
    </div>

    <table id="tblReporteContratos" class="table table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th class="head-table">&nbsp;</th>
                <th class="head-table">
                    Fecha Inicio
                </th>
                <th class="head-table">
                    Fecha Fin
                </th>
                <th class="head-table">
                    Número
                </th>
                <th class="head-table">
                    Entidad Contratante
                </th>
                <th class="head-table">
                    @Html.DisplayNameFor(model => model.ObjetoContractual)
                </th>
                <th class="head-table">
                    @Html.DisplayNameFor(model => model.Plazo)
                </th>
                <th class="head-table">
                    @Html.DisplayNameFor(model => model.ValorContrato)
                </th>
                <th class="head-table">
                    Valor Administrar
                </th>
                <th class="head-table">
                    @Html.DisplayNameFor(model => model.Honorarios)
                </th>
                <th class="head-table">
                    Estado
                </th>
                <th class="head-table">
                    @Html.DisplayNameFor(model => model.Crp)
                </th>
                <th class="head-table">
                    @Html.DisplayNameFor(model => model.FechaCrp)
                </th>
                <th class="head-table">
                    @Html.DisplayNameFor(model => model.Cdp)
                </th>
                <th class="head-table">
                    @Html.DisplayNameFor(model => model.FechaCdp)
                </th>
                <th class="head-table">
                    Abogado
                </th>
                <th class="head-table">
                    Supervisor
                </th>
                <th class="head-table">
                    Observaciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="border-cell">&nbsp;</td>
                    <td class="border-cell">
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td class="border-cell">
                        @Html.DisplayFor(modelItem => item.FechaTerminacion)
                    </td>
                    <td class="border-cell">
                        @Html.DisplayFor(modelItem => item.NumeroContrato)
                        <span style="font-weight: bold; display: inline">@String.Format("{0}", !item.ContratoMarco_Id.HasValue ? "[M]" : "")</span>
                    </td>
                    <td class="border-cell">
                        @Html.DisplayFor(modelItem => item.EntidadContratante.NombreCompleto)
                    </td>
                    <td class="border-cell" style="width: 250px">
                        @Html.DisplayFor(modelItem => item.ObjetoContractual)
                    </td>
                    <td class="border-cell text-right" ">
                        @Html.DisplayFor(modelItem => item.Plazo)
                    </td>
                    <td class="border-cell text-right" " style="width: 100px">
                        <strong>@Html.DisplayFor(modelItem => item.ValorContrato)</strong>
                    </td>
                    <td class="border-cell text-right" " style="width: 250px">
                        @Html.DisplayFor(modelItem => item.ValorAdministrar)
                    </td>
                    <td class="border-cell text-right" " style="width: 250px">
                        @Html.DisplayFor(modelItem => item.Honorarios)
                    </td>

                    <td class="border-cell" style="width: 90px">
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>

                    <td class="border-cell">
                        @Html.DisplayFor(modelItem => item.Crp)
                    </td>
                    <td class="border-cell">
                        @Html.DisplayFor(modelItem => item.FechaCrp)
                    </td>
                    <td class="border-cell">
                        @Html.DisplayFor(modelItem => item.Cdp)
                    </td>
                    <td class="border-cell">
                        @Html.DisplayFor(modelItem => item.FechaCdp)
                    </td>
                    <td class="border-cell">
                        @Html.DisplayFor(modelItem => item.PersonaAbogado.NombreCompleto)
                    </td>
                    <td class="border-cell">
                        @Html.DisplayFor(modelItem => item.PersonaSupervisor.NombreCompleto)
                    </td>
                    <td class="border-cell">
                        @if (item.HistoriaObservaciones.Count > 0)
                        {
                            <input type="image" class="btn-Annotations" title="Ver Observaciones" onclick="CargarObservaciones('@item.Contrato_Id')" />
                        }

                        @Html.DisplayFor(modelItem => item.Observaciones)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr style="background-color: #eee">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th style="font-size: 9pt">
                    TOTALES
                </th>
                <th class="text-right" style="font-size: 9pt">
                    <strong>@String.Format("{0:N0}", @Model.Sum(i => !i.ContratoMarco_Id.HasValue ? i.ValorContrato : 0))</strong>
                </th>
                <th class="text-right" style="font-size: 9pt">
                    <strong>@String.Format("{0:N0}", @Model.Sum(i => !i.ContratoMarco_Id.HasValue ? i.ValorAdministrar : 0))</strong>
                </th>
                <th class="text-right" style="font-size: 9pt">
                    <strong>@String.Format("{0:N0}", @Model.Sum(i => !i.ContratoMarco_Id.HasValue ? i.Honorarios : 0))</strong>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
}

@*Alert Error*@
<div class="modal fade" id="modalValidacion" data-keyboard="false" data-backdrop="" style="position: center">
    <div class="modal-dialog alert-Error" style="width: 30%">
        <div class="row row-no-gutters">
            <div class="col-lg-11 modal-body" id="mensaje" style="color: #fff; left: 16px">
            </div>
            <div class="col-lg-1 text-right">
                <button type="button" id="btnClose" class="close" data-dismiss="modal" style="color: #fff !important; margin-right: 15px; margin-top: 13px">×</button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var table = $('#tblReporteContratos').DataTable({

            responsive: true,
            "language": {
                "lengthMenu": "Display _MENU_ records per page",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay información disponible",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar en los resultados:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
        });
        new $.fn.dataTable.FixedHeader(table);
    });

    // Código para mostar Historia de observaciones Bitácora
    function CargarObservaciones(ContratoId) {
    $("#body").empty();
        var body = document.getElementById('body');
        var url = '@Url.Action("GetObservaciones", "Contratos")';
        $.ajax({
            type: 'POST',
            url: url,
            data: { id: ContratoId },
            success: function (data) {
                var cont = 1;
                if (data.length > 0) {

                    $("#body").append('<div class="text-center"><table class="text-center">'
                        + '<tr>'
                        + '<td class="head-table" style="width:50px;">'
                        + '<h5 style ="font-weight:bold;">#</h5 >'
                        + '</td>'
                        + '<td class="head-table" style="width:250px;">'
                        + '<h5 style ="font-weight:bold;">Fecha</h5>'
                        + '</td>'
                        + '<td class="head-table" style="width:250px;">'
                        + '<h5 style ="font-weight:bold;">Observación de respuesta</h5>'
                        + '</td>'
                        + '</tr>'
                    );
                }

                $.each(data, function (index, itemT) {

                    $("#body").append( '<tr>'
                        + '<td class="border-cell" style="width:50px;">'
                                        +  cont
                                        + '</td>'
                        + '<td class="border-cell" style="width:250px;">'
                                        + moment(itemT.Fecha).format('MM / DD / YYYY h: mm a')
                                        + '</td>'
                        + '<td class="border-cell" style="width:250px;">'
                                        + itemT.Observaciones
                                        + '</td>'
                                        + '</tr> '
                                        + '</table></div>'
                    );
                    cont++;
                });
        },
        error: function (ex) {
            alert('Error al consultar las observaciones.' + ex);
        }
    });


        $("#PopUPModal").modal('show');
    }

</script>