@model IEnumerable<GCP_CF.Models.Contratos>

@{
    ViewBag.Title = "Reporte de Contratos";
}

@if (TempData["error"] != null)
{
    <script>alert('@TempData["error"]');</script>
}

<link rel="stylesheet" type="text/css" href="~/Content/Graphics.css" />
<script src="~/Scripts/noGeneric/Reportes.js"></script>
<script src="~/Scripts/noGeneric/Graphics.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<style type="text/css">
    thead input {
        width: 100%;
    }
}
</style>

<h2 class="text-left">Reporte de Contratos</h2>

@if (Model != null && Model.Count() > 0)
{
<div class="panel">
    <div class="panel-body">
        <div id="msgReportePresupuesto">
            <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> Cargando gráfico...</div>
        <div id="imgReportePresupuesto" style="display: none"></div>
    </div>
</div>
}

<p class="text-left">Por favor diligencie al menos uno de los siguientes parámetros para filtrar los resultados</p>

<div class="well">
    @using (Html.BeginForm("Contratos", "Reportes", FormMethod.Post, new { id = "filtrosReporteContratosForm" }))
    {
        <div class="row">
            <div class="col-lg-2 col-md-2 text-center">
                <label for="anioContrato" class="control-label" style="margin-top: 5px">Año:</label><br />
                @Html.DropDownList("Anio", null, "TODOS", htmlAttributes: new { @class = "form-control", @id = "anioContrato", @name = "anio" })
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <label for="entidades" class="control-label" style="margin-top: 5px">Entidad Contratante:</label><br />
                @Html.DropDownList("IdEntidadContratante", null, "TODAS", htmlAttributes: new { @class = "form-control", @id = "entidades", @name = "idEntidadContratante" })
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <label for="nroContrato" class="control-label" style="margin-top: 5px">No. Contrato:</label><br />
                @Html.Editor("NumeroContrato", new { htmlAttributes = new { @class = "form-control", @id = "nroContrato", @name = "numeroContrato", @value = ViewBag.NumeroContrato } })
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <label for="estados" class="control-label" style="margin-top: 5px">Estado:</label><br />
                @Html.DropDownList("IdEstadoContrato", null, "TODOS", htmlAttributes: new { @class = "form-control", @id = "estados", @name = "idEstadoContrato" })
            </div>
            <div class="col-lg-1 col-md-1">
                <label class="control-label" style="margin-top: 5px">&nbsp;</label><br />
                <button id="btnSearch" type="submit" class="btn btn-default btn-large" data-toggle="tooltip" title="Pulse aquí para realizar la búsqueda con los filtros seleccionados">Buscar</button>
            </div>
        </div>
    }
</div>

@if (Model != null && Model.Count() > 0)
{
    <h3>Resultados de la consulta</h3>
    <div class="panel">
        <div class="panel-footer">
            <div class="row row-no-gutters">
                <div class="col-md-1 col-sm-1 col-xs-3"><b>Opciones:</b></div>
                <div class="col-md-11 col-sm-11 col-xs-9">
                    <i class="glyphicon glyphicon-export"></i>
                    <a href="javascript:void(0)" data-toggle="tooltip" onclick="ExportarContratos()" title="Haga clic aquí para exportar este reporte a Excel">Exportar a Excel</a>
                </div>
            </div>
        </div>
    </div>

    Html.RenderPartial("Seguimiento/PartialSeguimientoContrato", Model);
}

@*Alert Error*@
<div class="modal fade" id="modalValidacion" data-keyboard="false" data-backdrop="" style="position: center">
    <div class="modal-dialog alert-Error" style="width: 30%">
        <div class="row row-no-gutters">
            <div class="col-lg-11 modal-body" id="mensaje" style="color: #fff; left: 16px">
            </div>
            <div class="col-lg-1 text-right">
                <button type="button" id="btnClose" class="close" data-dismiss="modal" style="color: #fff !important; margin-right: 15px; margin-top: 13px">×</button>
            </div>
        </div>
    </div>
</div>