@model GCP_CF.Models.ActividadesEtapas

@{
    ViewBag.Title = "Crear Actividad Etapa";
}

<h2>Crear Actividad Etapa</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel">
        <div class="panel-heading">
            <h3>
                <i class="glyphicon glyphicon-cog"></i> Detalle
            </h3>
        </div>

        <div class="panel-body">

            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-2 text-right">
                        @Html.LabelFor(model => model.Descripción, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Descripción, new { htmlAttributes = new { @class = "form-control", @id = "nombres" } })
                        @Html.ValidationMessageFor(model => model.Descripción, "", new { @class = "text-danger" })
                    </div>
                </div>
               
               
            </div>
        </div>
    </div>
    <div class="btn-block text-center">
        <input type="submit" value="Crear Actividades" class="btn btn-default" />
        <a href="@Url.Action("Index", "ActividadesEtapas")" class="btn btn-success">
            <i class="glyphicon glyphicon-list"></i> Regresar al Listado
        </a>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
