@model IEnumerable<GCP_CF.Models.TiposPersona>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-left">Crear Tipo Persona</h2>

<p class="text-left">
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-default btn-large" })
</p>
<table class="table">
    <tr>
        <th class="head-table">
            @Html.DisplayNameFor(model => model.Descripcion)

        </th>
        <th class="head-table">
            @Html.DisplayNameFor(model => model.TiposNaturaleza.Descripcion)
        </th>
        <th class="head-table">
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th class="head-table"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.TiposNaturaleza.Descripcion)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td class="border-cell">
                @Html.ActionLink("Editar", "Edit", new { id = item.TipoPersona_Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.TipoPersona_Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.TipoPersona_Id })
            </td>
        </tr>
    }

</table>
