@model GCP_CF.Models.Usuarios
@{
    ViewBag.Title = "Cambiar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cambiar Contraseña</h2>
@if (TempData["ResultOk"].ToString() == "1")
{
    <div class="alert alert-success" role="alert">
        La contraseña se ha cambiado correctamente!
    </div>
}
@if (TempData["ResultOk"].ToString() == "-1")
{
    <div class="alert alert-danger" role="alert">
        Se presento un error cambiando la contraseña. Intentelo nuevamente.
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Usuario_Id)
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3>
                <i class="glyphicon glyphicon-cog"></i> Detalle
            </h3>
        </div>

        <div class="panel-body">

            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-3 text-right">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder="Nueva contraseña",@id = "newPassword" } })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-3 text-right">
                        @Html.LabelFor(model => model.NewPasswordConfirm, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NewPasswordConfirm, new { htmlAttributes = new { @class = "form-control", placeholder="Confirme contraseña", @id = "newPasswordConfirm" } })
                        @Html.ValidationMessageFor(model => model.NewPasswordConfirm, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-block text-center">
        <input type="submit" value="Cambiar Contraseña" class="btn btn-default" />
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#newPasswordConfirm").blur(function () {
            if ($("#newPassword").val() != $("#newPasswordConfirm").val()) {
                $("#newPasswordConfirm").val("");
                alert("Las contraseñas no son iguales.");
            }

        });
    </script>

}


