@model IEnumerable<GCP_CF.Models.Contratos>

@{
    ViewBag.Title = "Contratos";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href=" https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap.min.css">
<link rel="stylesheet" href=" https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">

<h2 class="text-left">Contratos Marco</h2>

<p class="text-left">
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-default btn-large" })
</p>
<style>
    thead input {
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
        <p>
            <h5>Filtrar Por Estado</h5>
            @Html.DropDownList("TipoEstadoContrato_Id", null, "Seleccione Estado Contrato", htmlAttributes: new { @class = "form-control", @id = "estadoContrato" })
            @*<input type="checkbox" name="activos" value="3" @ViewBag.activos> Activos*@
            <button id="btnSearch" type="submit" class="btn btn-default btn-large">Buscar</button>
        </p>
        }
    </div>
</div>
<table id="example" class="table  table-bordered" style="width:100%">
    <thead>
        <tr>
            <th class="head-table">Acciones&nbsp;Contrato</th>
            <th class="head-table">
                Fecha&nbsp;Inicio
            </th>
            <th class="head-table">
                Fecha&nbsp;Fín
            </th>
            <th class="head-table">
                Número
            </th>
            <th class="head-table">
                Entidad&nbsp;Contratante
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.ObjetoContractual)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.Plazo)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.ValorContrato)
            </th>
            <th class="head-table">
                Valor&nbsp;Administrar
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.Honorarios)
            </th>
            <th class="head-table">
                Estado
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.Crp)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.FechaCrp)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.Cdp)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.FechaCdp)
            </th>
            <th class="head-table">
                Abogado
            </th>
            <th class="head-table">
                Supervisor
            </th>
            <th class="head-table">
                Observaciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="border-cell" style="width:120px">
                @Html.ActionLink("Edit", "Edit", new { id = item.Contrato_Id }, new { @class = "btn-edit", @title = "Editar" })
                @Html.ActionLink("Detalles", "Details", new { id = item.Contrato_Id }, new { @class = "btn-details", @title = "Detalles" })
                @*@Html.ActionLink("Eliminar", "Delete", new { id = item.Contrato_Id }, new { @class = "btn-delete", @title = "Eliminar" })*@
                @if (item.HistoriaObservaciones.Count > 0)
                {
                    <input type="image" class="btn-Annotations" title="Ver Observaciones" onclick="CargarObservaciones('@item.Contrato_Id')" />
                }
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.FechaTerminacion)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.NumeroContrato)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.EntidadContratante.NombreCompleto)
            </td>
            <td class="border-cell" style="font-size:9pt;width:250px">
                @Html.DisplayFor(modelItem => item.ObjetoContractual)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.Plazo)
            </td>
            <td class="border-cell" style="width:100px">
                <strong>@Html.DisplayFor(modelItem => item.ValorContrato)</strong>
            </td>
            <td class="border-cell" style="font-size:9pt;width:250px">
                @Html.DisplayFor(modelItem => item.ValorAdministrar)
            </td>
            <td class="border-cell" style="font-size:9pt;width:250px">
                @Html.DisplayFor(modelItem => item.Honorarios)
            </td>

            <td class="border-cell" style="width:90px">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.Crp)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.FechaCrp)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.Cdp)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.FechaCdp)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.PersonaAbogado.NombreCompleto)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.PersonaSupervisor.NombreCompleto)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="font-size:10pt">
                Totales
            </th>
            <th style="font-size:10pt">
                <strong>@String.Format("{0:N0}", @Model.Sum(i => i.ValorContrato))</strong>
            </th>
            <th>
                <strong>@String.Format("{0:N0}", @Model.Sum(i => i.ValorAdministrar))</strong>
            </th>
            <th>
                <strong>@String.Format("{0:N0}", @Model.Sum(i => i.Honorarios))</strong>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<div class="modal fade" tabindex="-1" id="PopUPModal"
     data-keyboard="false" data-backdrop="static">
<div class="modal-dialog popUp-mobile" style="width:77%;">
    <div class="modal-content" style="border:1px solid  #4c5b76 !important;">
        <div class="modal-header" style="background-color:#fff;border-radius:3px;">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <button type="button" class="close" data-dismiss="modal" style="color:#fff !important">
                        ×
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="modal-body" id="body">
        </div>

        <div class="text-center" style="background-color:#f7f6f6;">
            <br />
            <button type="button" id="btnHideModal" class="btn btn-default" data-dismiss="modal">
                Cerrar
                <br />
            </button>
            <div class="space-2"></div>

            <p class="text-center">Tysa &copy; @DateTime.Now.Year - GCP</p>
        </div>
    </div>
</div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
@*<script src="//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"></script>*@
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, true).isValid();
            }

            $('#datepicker').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
                useCurrent: false
            });

            $('#datepicker2').datetimepicker({
                locale: 'es',
                format: 'DD/MM/YYYY',
                useCurrent: false
            });
        });


        $(document).ready(function () {

            var table = $('#example').DataTable({

                responsive: true,
                "language": {
                    "lengthMenu": "Display _MENU_ records per page",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay información disponible",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
            });
            new $.fn.dataTable.FixedHeader(table);
        });



         //codigo para mostar Historia de observaciones Bitácora
        function CargarObservaciones(ContratoId) {
        $("#body").empty();
           var body = document.getElementById('body');
            var url = '@Url.Action("GetObservaciones", "Contratos")';
            $.ajax({
                type: 'POST',
                url: url,
                data: { id: ContratoId },
                success: function (data) {
                    var cont = 1;
                    if (data.length > 0) {

                        $("#body").append('<div class="text-center"><table class="text-center">'
                            + '<tr>'
                            + '<td class="head-table" style="width:50px;">'
                            + '<h5 style ="font-weight:bold;">#</h5 >'
                            + '</td>'
                            + '<td class="head-table" style="width:250px;">'
                            + '<h5 style ="font-weight:bold;">Fecha</h5>'
                            + '</td>'
                            + '<td class="head-table" style="width:250px;">'
                            + '<h5 style ="font-weight:bold;">Observación de respuesta</h5>'
                            + '</td>'
                            + '</tr>'
                        );
                    }

                    $.each(data, function (index, itemT) {

                        $("#body").append( '<tr>'
                            + '<td class="border-cell" style="width:50px;">'
                                            +  cont
                                            + '</td>'
                            + '<td class="border-cell" style="width:250px;">'
                                            + moment(itemT.Fecha).format('MM / DD / YYYY h: mm a')
                                            + '</td>'
                            + '<td class="border-cell" style="width:250px;">'
                                            + itemT.Observaciones
                                            + '</td>'
                                            + '</tr> '
                                            + '</table></div>'
                        );
                        cont++;
                    });
            },
            error: function (ex) {
                alert('Error al consultar las observaciones.' + ex);
            }
        });


            $("#PopUPModal").modal('show');
        }

    </script>
}