@model IEnumerable<GCP_CF.Models.Contratos>



<table id="" class="display table  table-bordered" style="width:100%">
    <thead>
        <tr>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th class="head-table">
                Numero Contrato
            </th>
            <th class="head-table">
                Entidad Contratante
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.Plazo)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.FechaTerminacion)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.ValorContrato)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.ValorAdministrar)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.Honorarios)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.Crp)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.FechaCrp)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.Cdp)
            </th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.FechaCdp)
            </th>
            <th class="head-table">
                Estado
            </th>
            <th class="head-table">Acciones</th>
            <th class="head-table">
                @Html.DisplayNameFor(model => model.ObjetoContractual)
            </th>
            <th class="head-table">
                Abogado
            </th>
            <th class="head-table">
                Supervisor
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.NumeroContrato)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.EntidadContratante.NombreCompleto)
            </td>

            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.Plazo)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.FechaTerminacion)
            </td>
            <td class="border-cell" style="width:100px">
                @Html.DisplayFor(modelItem => item.ValorContrato)
            </td>
            <td class="border-cell" style="font-size:9pt;width:250px">
                @Html.DisplayFor(modelItem => item.ValorAdministrar)
            </td>
            <td class="border-cell" style="font-size:9pt;width:250px">
                @Html.DisplayFor(modelItem => item.Honorarios)
            </td>

            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.Crp)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.FechaCrp)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.Cdp)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.FechaCdp)
            </td>
            <td class="border-cell" style="width:90px">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

            <td class="border-cell" style="width:120px">
                @Html.ActionLink("Edit", "Edit", new { id = item.Contrato_Id }, new { @class = "btn-edit", @title = "Editar" })
                @*@Html.ActionLink("Detalles", "Details", new { id = item.Contrato_Id }, new { @class = "btn-details", @title = "Detalles" })*@
                @*@Html.ActionLink("Eliminar", "Delete", new { id = item.Contrato_Id }, new { @class = "btn-delete", @title = "Eliminar" })*@
            </td>
            <td class="border-cell" style="font-size:9pt;width:250px">
                @Html.DisplayFor(modelItem => item.ObjetoContractual)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.PersonaAbogado.NombreCompleto)
            </td>
            <td class="border-cell">
                @Html.DisplayFor(modelItem => item.PersonaSupervisor.NombreCompleto)
            </td>

        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.FechaInicio)*@
            </th>
            <th>
                @*Numero Contrato*@
            </th>
            <th>
                @*Entidad Contratante*@
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.Plazo)*@
            </th>
            <th style="font-size:10pt">
                Totales
            </th>
            <th style="font-size:10pt">
                <strong>@String.Format("{0:N0}", @Model.Sum(i => i.ValorContrato))</strong>
            </th>
            <th>
                <strong>@String.Format("{0:N0}", @Model.Sum(i => i.ValorAdministrar))</strong>
            </th>
            <th>
                <strong>@String.Format("{0:N0}", @Model.Sum(i => i.Honorarios))</strong>
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th></th>
            <th>
                @*@Html.DisplayNameFor(model => model.ObjetoContractual)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ValorAdministrar)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Honorarios)*@
            </th>
        </tr>
    </tfoot>
</table>




